* {
  margin: 0 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
* ul, * li, * a, * p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
* a {
  text-decoration: none;
}
* li:before {
  display: none;
}
* input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=email]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=checkbox]::-ms-check {
  display: none;
  width: 0;
  height: 0;
}
* ul {
  list-style-type: none;
  list-style: none;
}

.card, .card-nav {
  display: block;
  position: relative;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.card > hr, .card-nav > hr {
  width: 90%;
}

.noscroll {
  overflow: hidden;
}

*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  position: static;
}

.hamburger {
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 32px;
  height: 17px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 32px;
  height: 3px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#cookie {
  z-index: 1080;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding: 0 0;
  margin: 0 0;
}
#cookie > #cookie-wrapper {
  height: 100%;
  padding: inherit;
  margin: inherit;
}
#cookie > #cookie-wrapper > #cookie-overlay {
  padding: 30px 30px;
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
  margin: 0 auto;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #fff;
  justify-content: center;
  opacity: 1 !important;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-header {
  padding: 15px 15px;
  border-bottom: 1px solid #ddd;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-header > h3 {
  font-size: 1.625rem;
  font-weight: 400;
  color: #333645;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-body {
  color: #888;
  padding: 15px 15px;
  border-bottom: 1px solid #ddd;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-bottom {
  padding: 20px 0;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-bottom > .cookie-button {
  display: block;
  width: 90%;
  margin-top: 10px;
  height: 50px;
  border: none;
  color: white;
  border-radius: 3px;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-bottom > .cookie-button:first-of-type {
  background: #888;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-bottom > .cookie-button:first-of-type:hover {
  cursor: pointer;
  background: #444;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-bottom > .cookie-button:last-of-type {
  background: #926fb1;
}
#cookie > #cookie-wrapper > #cookie-overlay > #cookie-con > .cookie-bottom > .cookie-button:last-of-type:hover {
  cursor: pointer;
  background: #79539a;
}

#my-page {
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.home-link {
  margin-right: auto;
}

#headerSTICK {
  position: absolute;
  width: 100%;
  top: -230px;
  left: 0%;
  right: 0%;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.header {
  padding: 0px 0px;
  padding-top: 15px;
  background-color: #fff;
}
.header > .header-top {
  display: flex;
  flex-direction: row;
  height: 56px;
  vertical-align: middle;
  margin: 30px auto;
  position: relative;
  justify-content: flex-start;
}
.header > .header-top > .buttons {
  display: flex;
  margin-left: auto;
}
.header > .header-top > .buttons > * {
  margin-left: 20px;
}
.header > .header-top > .buttons > .support {
  display: block;
  position: relative;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 10px;
  height: 56px;
  width: 26px;
  padding: 0 0;
}
.header > .header-top > .buttons > .support > i {
  width: 56px;
  height: 56px;
  font-size: 28px;
  margin: 0 0;
}
.header > .header-top > .buttons > .support::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  width: 30px;
  height: 3px;
  background-color: #000;
  display: none;
}
.header > .header-top > .buttons > .support:hover::after {
  display: block;
}
.header > .header-top > .buttons > .btn-banner {
  background-color: #4183d7;
  border-radius: 3px;
  border: none;
  padding: 15px 15px;
  color: #fff;
  width: 135px;
}
.header > .header-top > .buttons > .btn-banner > i {
  line-height: 1.5;
  margin: 0 5px;
}
.header > .header-top > .buttons > .support-xl {
  background-color: #4183d7;
}
.header > .header-top > .buttons > .support-xl:hover {
  background-color: #2a6ec6;
}
.header > .header-top > .buttons > .contact-xl {
  background-color: #999aa2;
}
.header > .header-top > .buttons > .contact-xl:hover {
  background-color: #84858f;
}
.header > .header-top > .buttons > #hamburger {
  width: 60px;
}
.header > .header-top > .buttons > .hamburger {
  background-color: #333645;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 0.1rem;
  height: 56px;
  min-width: 60px;
  max-width: 60px;
  display: block;
  padding: 10px 12px;
  margin-right: 0px;
}
.header > .header-top > .buttons > .hamburger > .menutext {
  font-size: 0.75rem;
  line-height: 1.6rem;
  margin-top: 5px;
}
.header > .header-top > .buttons > .hamburger:hover {
  background-color: #22242e;
}
.header > .searchbar > form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.header > .searchbar > form > input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.08);
  color: #666;
  height: 47px;
  width: 1200px;
  position: relative;
}
.header > .searchbar > form > input[type=text]:focus {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.08);
}
.header > .searchbar > form > input[type=text]:focus ~ .mobile-sbtn {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.08);
}
.header > .searchbar > form > button {
  padding: 12px 10px;
  margin-top: 8px;
  margin-right: 0px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  height: 47px;
  color: #333645;
  line-height: 1;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.08);
}
.header > .navbar {
  border-bottom: #ebebeb 1px solid;
  background-color: #333645;
  position: relative;
  padding: 0 0;
}
.header > .navbar > #dd-universal-background-s, .header > .navbar #dd-universal-background-ns {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 20;
  padding: 22px 0px;
  background-color: rgba(0, 0, 0, 0);
  display: block;
}
.header > .navbar > .tab-wrapper {
  display: flex;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #333645;
  max-width: 100%;
}
.header > .navbar > .tab-wrapper > .bar-child {
  width: 16.7%;
  background-color: #333645;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 19px;
  padding-bottom: 18px;
  line-height: 1;
  font-size: 1.125rem;
}
.header > .navbar > .tab-wrapper > .bar-child:hover {
  cursor: pointer;
}
.header > .navbar > .tab-wrapper > .bar-child > .tab-s-text {
  font-size: 0.625rem;
}
.header > .navbar > .tab-wrapper > .bar-child > .icon-tab {
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 1px;
  position: relative;
}
.header > .navbar > .tab-wrapper > .bar-child > .icon-tab > span > i {
  font-size: 1.438rem;
  line-height: 1;
}
.header > .navbar > .tab-wrapper > .bar-child > .dd-background {
  display: none;
  padding: 22px 0px;
  position: absolute;
  z-index: 20;
  top: 100%;
}
.header > .navbar > .tab-wrapper > .bar-child > .drop-down {
  display: none;
  flex-direction: row;
  position: absolute;
  z-index: 21;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 8px 0px;
}
.header > .navbar > .tab-wrapper > .bar-child > .drop-down > ul {
  width: auto;
  display: flex;
  justify-content: space-between;
  float: left;
  list-style: none;
  text-align: left;
  margin: 0 auto;
  position: absolute;
  left: -15px;
}
.header > .navbar > .tab-wrapper > .bar-child > .drop-down > ul > li {
  display: block;
  float: left;
  padding: 10px 15px;
}
.header > .navbar > .tab-wrapper > .web-tab > .icon-tab > span {
  color: #926fb1;
}
.header > .navbar > .tab-wrapper > .web-tab:hover {
  background-color: #926fb1;
}
.header > .navbar > .tab-wrapper > .web-tab:hover > .icon-tab > span > i {
  color: #fff;
}
.header > .navbar > .tab-wrapper > .web-tab:hover > .dd-web {
  display: flex;
  background-color: #79539a;
}
.header > .navbar > .tab-wrapper > .web-tab:hover > .dd-web > ul {
  background-color: #79539a;
}
.header > .navbar > .tab-wrapper > .web-tab:hover > .dd-background {
  display: flex;
  background-color: #79539a;
}
.header > .navbar > .tab-wrapper > .IT-tab > .icon-tab > span {
  color: #4183d7;
}
.header > .navbar > .tab-wrapper > .IT-tab:hover {
  background-color: #4183d7;
}
.header > .navbar > .tab-wrapper > .IT-tab:hover > .icon-tab > span > i {
  color: #fff;
}
.header > .navbar > .tab-wrapper > .IT-tab:hover > .dd-IT {
  display: flex;
  background-color: #286abd;
}
.header > .navbar > .tab-wrapper > .IT-tab:hover > .dd-IT > ul {
  background-color: #286abd;
}
.header > .navbar > .tab-wrapper > .IT-tab:hover > .dd-background {
  display: flex;
  background-color: #286abd;
}
.header > .navbar > .tab-wrapper > .telecoms-tab > .icon-tab > span {
  color: #d64541;
}
.header > .navbar > .tab-wrapper > .telecoms-tab:hover {
  background-color: #d64541;
}
.header > .navbar > .tab-wrapper > .telecoms-tab:hover > .icon-tab > span > i {
  color: #fff;
}
.header > .navbar > .tab-wrapper > .telecoms-tab:hover > .dd-telecoms {
  display: flex;
  background-color: #bc2c28;
}
.header > .navbar > .tab-wrapper > .telecoms-tab:hover > .dd-telecoms > ul {
  background-color: #bc2c28;
}
.header > .navbar > .tab-wrapper > .telecoms-tab:hover > .dd-background {
  display: flex;
  background-color: #bc2c28;
}
.header > .navbar > .tab-wrapper > .bespoke-tab > .icon-tab > span {
  color: #67809f;
}
.header > .navbar > .tab-wrapper > .bespoke-tab:hover {
  background-color: #67809f;
}
.header > .navbar > .tab-wrapper > .bespoke-tab:hover > .icon-tab > span > i {
  color: #fff;
}
.header > .navbar > .tab-wrapper > .bespoke-tab:hover > .dd-bespoke {
  display: flex;
  background-color: #526781;
}
.header > .navbar > .tab-wrapper > .bespoke-tab:hover > .dd-bespoke > ul {
  background-color: #526781;
}
.header > .navbar > .tab-wrapper > .bespoke-tab:hover > .dd-background {
  display: flex;
  background-color: #526781;
}
.header > .navbar > .tab-wrapper > .marketing-tab > .icon-tab > span {
  color: #23cc71;
}
.header > .navbar > .tab-wrapper > .marketing-tab:hover {
  background-color: #23cc71;
}
.header > .navbar > .tab-wrapper > .marketing-tab:hover > .icon-tab > span > i {
  color: #fff;
}
.header > .navbar > .tab-wrapper > .marketing-tab:hover > .dd-marketing {
  display: flex;
  background-color: #25a25a;
}
.header > .navbar > .tab-wrapper > .marketing-tab:hover > .dd-marketing > ul {
  background-color: #25a25a;
}
.header > .navbar > .tab-wrapper > .marketing-tab:hover > .dd-background {
  display: flex;
  background-color: #25a25a;
}
.header > .navbar > .tab-wrapper > .security-tab > .icon-tab > span {
  color: #f62459;
}
.header > .navbar > .tab-wrapper > .security-tab:hover {
  background-color: #f62459;
}
.header > .navbar > .tab-wrapper > .security-tab:hover > .icon-tab > span > i {
  color: #fff;
}
.header > .navbar > .tab-wrapper > .security-tab:hover > .dd-security {
  display: flex;
  background-color: #de093f;
}
.header > .navbar > .tab-wrapper > .security-tab:hover > .dd-security > ul {
  background-color: #de093f;
}
.header > .navbar > .tab-wrapper > .security-tab:hover > .dd-background {
  display: flex;
  background-color: #de093f;
}
.header > .navbar > .tab-wrapper > .tab-s-text {
  font-size: 0.7rem;
}
.header > .navbar > .tab-wrapper > .tab-lg-text {
  font-size: 1.05rem;
}

.banner {
  width: 100vw;
  height: 75vh;
  padding: 0 0;
}
.banner > .banner-overlay {
  width: 100%;
  padding: 0 0;
  height: 100%;
  background: linear-gradient(270deg, transparent 0%, #000), rgba(0, 0, 0, 0.15);
}
.banner > .banner-overlay > .slides div {
  height: 100%;
  padding: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div > div {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div > .slide-web {
  background: url("../img/web-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div > .slide-it {
  background: url("../img/home-57sJ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div > .slide-tel {
  background: url("../img/telecoms-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div > .slide-bes {
  background: url("../img/bespoke-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div > .slide-dig {
  background: url("../img/digitalmarketing-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div > .slide-sec {
  background: url("../img/security-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides {
  height: 75vh;
  width: 100%;
  padding: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > .banner-overlay > .slides div {
  background-size: cover;
  background-position: right 600px;
  background-repeat: no-repeat;
}
.banner > .banner-overlay > .slides div > .s-overlay {
  background: linear-gradient(270deg, transparent 0%, #000), rgba(0, 0, 0, 0.05);
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text {
  margin: 0 auto;
  height: 80vh;
  padding-top: 100px;
  text-align: center;
  display: block;
  justify-content: center;
  color: #fff;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > h1 {
  font-size: 3rem;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > a {
  color: #fff;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-banner {
  border-radius: 3px;
  border: none;
  padding: 15px 15px;
  margin: 30px 0;
  color: #fff;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-banner:hover {
  cursor: pointer;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-web {
  background-color: #926fb1;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-web:hover {
  background-color: #79539a;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-it {
  background-color: #4183d7;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-it:hover {
  background-color: #286abd;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-tel {
  background-color: #d64541;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-tel:hover {
  background-color: #bc2c28;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-bes {
  background-color: #67809f;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-bes:hover {
  background-color: #526781;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-dig {
  background-color: #23cc71;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-dig:hover {
  background-color: #25a25a;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-sec {
  background-color: #f62459;
}
.banner > .banner-overlay > .slides div > .s-overlay > .banner-text > .btn-sec:hover {
  background-color: #de093f;
}

.nav-cards {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}
.nav-cards > button:hover {
  cursor: pointer;
}
.nav-cards > .xl-row-nav > .card-nav, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav {
  justify-content: center;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  height: 300px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 15px 0;
}
.nav-cards > .xl-row-nav > .card-nav > p, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > p {
  font-size: 0.8125rem;
}
.nav-cards > .xl-row-nav > .card-nav > h2, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > h2 {
  position: relative;
  font-size: 1.125rem;
  padding-bottom: 17px;
  margin: 0 0 11px;
  font-weight: 200;
  color: #333645;
  text-align: center;
  line-height: 1.1;
  display: block;
}
.nav-cards > .xl-row-nav > .card-nav > h2::after, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > h2::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}
.nav-cards > .xl-row-nav > .card-nav:hover > p, .nav-cards > .xl-row-nav > .card-nav:hover h2, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav:hover > p, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav:hover h2 {
  color: #fff;
}
.nav-cards > .xl-row-nav > .card-nav:hover > h2::after, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav:hover > h2::after {
  background-color: #fff;
}
.nav-cards > .xl-row-nav > .card-nav > .nav-icon-con, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > .nav-icon-con {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  min-width: 50px;
  min-height: 50px;
  max-width: 51px;
  max-height: 51px;
  margin: 0 auto 17px;
  position: relative;
  font-weight: 600;
}
.nav-cards > .xl-row-nav > .card-nav > .nav-icon-con > span > span, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > .nav-icon-con > span > span {
  color: #fff;
}
.nav-cards > .xl-row-nav > .card-nav > .nav-icon-con > span > span > i, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > .nav-icon-con > span > span > i {
  position: absolute;
  top: 14px;
  left: 16px;
}
.nav-cards > .xl-row-nav > .card-nav > span, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > span {
  text-align: center;
}
.nav-cards > .xl-row-nav > .card-nav > .btn-nav, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > .btn-nav {
  min-height: 45px;
  max-height: 45px;
  width: 150px;
  line-height: 35px;
  font-size: 1.063rem;
  white-space: normal;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 5px 15px;
  display: block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.bespoke, #btn-bespoke {
  background-color: #67809f;
}

.IT, #btn-IT {
  background-color: #4183d7;
}

.marketing, #btn-marketing {
  background-color: #23cc71;
}

.telecoms, #btn-telecoms {
  background-color: #d64541;
}

.security, #btn-security {
  background-color: #f62459;
}

.web-design, #btn-web {
  background-color: #926fb1;
}

.schools, #btn-school {
  background-color: #926fb1;
}

.card-bespoke:hover {
  background-color: #67809f;
  color: #fff;
  cursor: pointer;
}
.card-bespoke:hover .nav-icon-con, .card-bespoke:hover #btn-bespoke {
  background-color: #fff;
  color: #67809f;
}
.card-bespoke:hover .spacer-rule {
  background-color: #fff;
}
.card-bespoke:hover i {
  color: #67809f;
}

.card-IT:hover {
  background-color: #4183d7;
  color: #fff;
  cursor: pointer;
}
.card-IT:hover .nav-icon-con, .card-IT:hover #btn-IT {
  background-color: #fff;
  color: #4183d7;
}
.card-IT:hover .spacer-rule {
  background-color: #fff;
}
.card-IT:hover i {
  color: #4183d7;
}

.card-marketing:hover {
  background-color: #23cc71;
  color: #fff;
  cursor: pointer;
}
.card-marketing:hover .nav-icon-con, .card-marketing:hover #btn-marketing {
  background-color: #fff;
  color: #23cc71;
}
.card-marketing:hover .spacer-rule {
  background-color: #fff;
}
.card-marketing:hover i {
  color: #23cc71;
}

.card-telecoms:hover {
  background-color: #d64541;
  color: #fff;
  cursor: pointer;
}
.card-telecoms:hover .nav-icon-con, .card-telecoms:hover #btn-telecoms {
  background-color: #fff;
  color: #d64541;
}
.card-telecoms:hover .spacer-rule {
  background-color: #fff;
}
.card-telecoms:hover i {
  color: #d64541;
}

.card-web:hover {
  background-color: #926fb1;
  color: #fff;
  cursor: pointer;
}
.card-web:hover .nav-icon-con, .card-web:hover #btn-web {
  background-color: #fff;
  color: #926fb1;
}
.card-web:hover .spacer-rule {
  background-color: #fff;
}
.card-web:hover i {
  color: #926fb1;
}

.card-security:hover {
  background-color: #f62459;
  color: #fff;
  cursor: pointer;
}
.card-security:hover .nav-icon-con, .card-security:hover #btn-security {
  background-color: #fff;
  color: #f62459;
}
.card-security:hover i {
  color: #f62459;
}

.card-schools:hover {
  background-color: #926fb1;
  color: #fff;
  cursor: pointer;
}
.card-schools:hover .nav-icon-con, .card-schools:hover #btn-school {
  background-color: #fff;
  color: #926fb1;
}
.card-schools:hover i {
  color: #926fb1;
}

.culture-back {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0px;
  text-align: left;
}
.culture-back > p, .culture-back h2 {
  color: #fff;
  padding: 15px 0px;
}
.culture-back > p strong, .culture-back h2 strong {
  font-weight: 600;
}
.culture-back > h2 {
  font-weight: 400;
  font-size: 2.25rem;
}
.culture-back > .btn-culture {
  color: #333645;
  background-color: #fff;
  border-radius: 3px;
  height: 50px;
  display: block;
  width: auto;
  padding: 5px 15px;
  border: none;
  line-height: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  justify-content: space-between;
}
.culture-back > .btn-culture > a {
  color: #333645;
  position: relative;
}
.culture-back > .btn-culture > a > img {
  position: absolute;
  top: 0px;
  left: 110%;
}
.culture-back > .btn-culture:hover {
  background-color: #ebebeb;
}

.culture {
  background-color: #333645;
}

.news-header-con {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.news-header-section {
  padding: 40px 30px;
  margin-bottom: 30px;
  background-color: #fff;
}
.news-header-section > .latest {
  padding-left: 0px;
  padding-bottom: 0px;
  display: inline-block;
  margin-bottom: -10px;
  color: #333645;
  font-size: 1.25rem;
  position: relative;
}
.news-header-section > .latest > .bar-news::after {
  content: "";
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
}

.news-section {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.news-section .news-cards {
  padding: 10px 0px;
  margin: 0px auto;
}
.news-section .news-cards > .card-news {
  margin: 20px 20px;
}
.news-section .news-cards > .card-news:first-of-type {
  margin-right: 20px;
  margin-left: 0px;
}
.news-section .news-cards > .card-news:last-of-type {
  margin-left: 20px;
  margin-right: 0px;
}
.news-section .news-cards > .card-news > .minilink {
  position: absolute;
  top: 10px;
  right: 0%;
  background-color: #926fb1;
  color: #fff;
  text-decoration: none;
  z-index: 3;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.news-section .news-cards > .card-news > .minilink:hover {
  text-decoration: underline;
  cursor: pointer;
}
.news-section .news-cards > .card-news > .news-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}
.news-section .news-cards > .card-news > .news-image > .img-overlay {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  display: flex;
}
.news-section .news-cards > .card-news > .news-image > .img-overlay > .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: background-color 0.3s linear;
  opacity: 0.3;
}
.news-section .news-cards > .card-news > .news-image > .img-overlay > img {
  width: 100%;
  flex: 1.73;
  height: auto;
  background-size: cover;
  height: auto;
  transition: transform 0.3s, background-color 0.3s;
  opacity: 1;
}
.news-section .news-cards > .card-news > .news-container {
  padding: 30px 30px;
  position: relative;
  height: 330px;
}
.news-section .news-cards > .card-news > .news-container > p {
  color: #666;
  margin-bottom: 30px;
  font-size: 0.8125rem;
}
.news-section .news-cards > .card-news > .news-container > h4 {
  color: #000;
}
.news-section .news-cards > .card-news > .news-container > .heading-link {
  color: #926fb1;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.news-section .news-cards > .card-news > .news-container > .heading-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.news-section .news-cards > .card-news > .news-container > .readmore-btn {
  color: #fff;
  background-color: #926fb1;
  border-radius: 3px;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 15px;
  position: absolute;
  top: 150px;
  left: 30px;
}
.news-section .news-cards > .card-news > .news-container > .readmore-btn:hover {
  background-color: #7e57a0;
  cursor: pointer;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper {
  position: absolute;
  top: 220px;
  bottom: 0;
  left: 30px;
  right: 0;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  vertical-align: middle;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #ddd;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .avatar, .news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot .post-info {
  display: inline-block;
  vertical-align: middle;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .avatar > .minilogo, .news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot .post-info > .minilogo {
  height: auto;
  width: 47px;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .post-info {
  padding-left: 20px;
  padding-top: 20px;
  line-height: 20px;
  height: auto;
  font-size: 0.875rem;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .post-info > p {
  color: #666;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .avatar {
  margin-top: 15px;
}
.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .avatar > img {
  border-radius: 100%;
}

.companies {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0px 100px;
  padding: 50px 15px;
}
.companies > .company {
  display: inline-block;
}
.companies > .company > img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.companies > .company > .tooltiptext {
  visibility: hidden;
  min-width: 260px;
  height: auto;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 15px 15px;
  /* Position the tooltip */
  position: absolute;
  z-index: 5;
  bottom: 70%;
  left: 25%;
  line-height: 30px;
  margin-left: -60px;
  margin-bottom: 70px;
  font-size: 1rem;
}
.companies > .company > .tooltiptext > h3 {
  padding: 10px 10px;
}
.companies > .company > .tooltiptext > p {
  padding: 10px 10px;
  font-size: 0.875rem;
  line-height: 1.42857143;
}
.companies > .company > .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 43%;
  margin-left: -20px;
  border-width: 40px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}
.companies > .company > .tooltiptext > .spacer-rule {
  background-color: #fff;
  margin: 0 45%;
}
.companies > .company > .tbeat {
  left: -35%;
}
.companies > .company > .tcrane {
  left: 20%;
}
.companies > .con-bus, .companies .con-crane, .companies .con-beat, .companies .con-north {
  position: relative;
}
.companies > .con-bus > img:last-of-type, .companies .con-crane > img:last-of-type, .companies .con-beat > img:last-of-type, .companies .con-north > img:last-of-type {
  display: none;
}
.companies > .con-bus:hover > img:first-of-type, .companies .con-crane:hover > img:first-of-type, .companies .con-beat:hover > img:first-of-type, .companies .con-north:hover > img:first-of-type {
  display: none;
}
.companies > .con-bus:hover > img:last-of-type, .companies .con-crane:hover > img:last-of-type, .companies .con-beat:hover > img:last-of-type, .companies .con-north:hover > img:last-of-type {
  display: block;
}
.companies > .con-bus:hover > .tooltiptext, .companies .con-crane:hover > .tooltiptext, .companies .con-beat:hover > .tooltiptext, .companies .con-north:hover > .tooltiptext {
  visibility: visible;
}

.newsletter {
  background-color: #ddd;
}

.sign-up-form {
  height: 100%;
  background-color: #ddd;
  color: #333645;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  margin: 30px 30px;
}
.sign-up-form > .form {
  padding: 20px 30px;
}
.sign-up-form > .form > h2 {
  font-size: 2rem;
  font-weight: 400;
}
.sign-up-form > .form > .form-box > .form-group {
  margin-right: 30px;
  margin-top: 10px;
  width: 100%;
}
.sign-up-form > .form > .form-box > .form-group > label {
  margin-bottom: 0px;
  font-weight: 600;
}
.sign-up-form > .form > .form-box > .form-group > label > span {
  color: #d24d57;
}
.sign-up-form > .form > .form-box > .form-group > .field {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 45px;
  width: 100%;
}
.sign-up-form > .form > .form-box > .form-group > .field:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}
.sign-up-form > .form > .checkbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}
.sign-up-form > .form > .checkbox > .fakebox-IE {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: -1;
  border: 3px solid #333645;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sign-up-form > .form > .checkbox > .fakebox-IE {
    display: block;
  }
}
.sign-up-form > .form > .checkbox > label {
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
}
.sign-up-form > .form > .checkbox > label > i {
  color: #fff;
}
.sign-up-form > .form > .checkbox > span > label {
  color: #333645;
  font-weight: 600;
  line-height: 32px;
}
.sign-up-form > .form > .checkbox > span > label:hover {
  cursor: pointer;
}
.sign-up-form > .form > .checkbox > input {
  border: 3px solid #333645;
  height: 30px;
  min-width: 30px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 3px;
  display: block;
}
.sign-up-form > .form > .checkbox > input:checked {
  background: #333645;
}
.sign-up-form > .form > .checkbox > input:checked ~ label {
  display: inline;
}
.sign-up-form > .form > .checkbox > input:not(:checked) {
  border: 3px solid #333645;
  height: 30px;
  min-width: 30px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 3px;
  display: block;
}
.sign-up-form > .form > .checkbox > input:hover {
  cursor: pointer;
}
.sign-up-form > .form > button {
  color: #fff;
  background-color: #333645;
  border-radius: 3px;
  border: none;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1.063rem;
  font-weight: 400;
}
.sign-up-form > .form > button:hover {
  background-color: #22242e;
  border-color: #121419;
  cursor: pointer;
}

.policy {
  color: #333645;
  text-decoration: underline;
}
.policy:hover {
  color: #121419;
  text-decoration: underline;
  cursor: pointer;
}

#footer {
  background-color: #333645;
}
#footer .footer-main p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
#footer .footer-main .footer-content {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  flex-grow: 1;
}
#footer .footer-main .footer-content > div {
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
}
#footer .footer-main .footer-content > div ul li {
  list-style-type: none;
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
#footer .footer-main .footer-content > div h4 {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 1rem;
}
#footer .footer-main .footer-content > div a {
  text-decoration: none;
  color: white;
}
#footer .footer-main .footer-content > div a:hover {
  text-decoration: underline;
}
#footer .footer-main .footer-content .social-con .button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  column-gap: 30px;
}
#footer .footer-main .footer-content .social-con .button-container a {
  display: block;
  text-align: center;
  min-width: 45%;
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}
#footer .footer-main .footer-content .social-con .button-container a > i {
  font-size: 1.75rem;
}
#footer .footer-main .footer-content .social-con .button-container .facebook:hover {
  background-color: #3b5998;
}
#footer .footer-main .footer-content .social-con .button-container .twitter:hover {
  background-color: #00aced;
}
#footer .footer-main .footer-content .social-con .button-container .linked-in:hover {
  background-color: #0077b5;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #footer .footer-main .footer-content .social-con .button-container > .twitter {
    margin-left: 30px;
  }
  #footer .footer-main .footer-content .social-con .button-container > .linked-in {
    margin-top: 20px;
  }
}

.awards {
  background-color: #fff;
  padding: 50px 0px;
}

.awards-1,
.awards-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 64px;
  margin-right: 64px;
}
.awards-1 > .greyscale img:first-of-type,
.awards-2 > .greyscale img:first-of-type {
  display: block;
}
.awards-1 > .greyscale img:last-of-type,
.awards-2 > .greyscale img:last-of-type {
  display: none;
}
.awards-1 > .greyscale:hover img:first-of-type,
.awards-2 > .greyscale:hover img:first-of-type {
  display: none;
}
.awards-1 > .greyscale:hover img:last-of-type,
.awards-2 > .greyscale:hover img:last-of-type {
  display: block;
}

.awards-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

.spacer-rule {
  width: 10%;
  height: 3px;
  background-color: #333645;
  border: none;
}

.can-not-scroll {
  overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
  .cookie-bottom > .cookie-button {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .cookie-bottom {
    display: flex;
    padding: 20px 20px;
  }
  .cookie-bottom > .cookie-button {
    width: 50%;
    display: block;
    margin: 10px auto;
  }
  .cookie-bottom > #change {
    margin-right: 10px;
    margin-left: 15px;
  }
  .cookie-bottom > #accept {
    margin-left: 10px;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .searchbar-lg {
    display: none;
  }

  .searchbar-mobile {
    margin: 0 auto;
  }

  .lg-row-nav {
    display: block;
    justify-content: space-around;
    margin: 0 auto;
  }

  .security, .schools, .web-design, .telecoms, .marketing, .bespoke, .IT {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .support {
    display: none !important;
  }
  .support > i {
    display: none;
  }

  .header > .searchbar-mobile {
    display: none;
  }
  .header > .searchbar-mobile > i {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .searchbar-lg {
    display: block;
  }
  .searchbar-lg > form {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .searchbar-lg > form > input {
    width: 150px;
    height: 56px;
    border: 1px solid #999aa2;
    padding-left: 15px;
    padding-right: 30px;
    display: block;
  }
  .searchbar-lg > form > input:focus {
    border-color: #5bc0de;
    box-shadow: 0 0 8px rgba(91, 192, 222, 0.6);
  }
  .searchbar-lg > form > button {
    background-color: #999aa2;
    color: #fff;
    border: inherit;
    height: 56px;
    width: 68px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    padding: 7px 20px 3px;
  }
  .searchbar-lg > form > button > i {
    font-size: 20px;
  }
  .searchbar-lg > form > button:hover {
    background-color: #84858f;
  }
}
@media only screen and (max-width: 992px) {
  .buttons > .btn-banner {
    display: none;
  }

  .header {
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .searchbar-lg > form {
    border: none;
  }
  .searchbar-lg > form > input {
    display: none;
  }
  .searchbar-lg > form > button {
    border-radius: 3px;
  }
}
@media only screen and (min-width: 1260px) {
  .searchbar-lg > form > input {
    display: block;
    border: 1px solid #999aa2;
    width: 240px;
  }
  .searchbar-lg > form > button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right: -40px;
  }
}
@media only screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .navbar {
    min-width: 992px;
  }
  .navbar > .tab-wrapper {
    width: 992px;
    margin: 0 auto;
  }
  .navbar > .tab-wrapper > .bar-child > .drop-down > ul > li {
    font-size: 0.805rem;
  }
}
@media only screen and (min-width: 1260px) {
  .navbar {
    min-width: 1260px;
  }
  .navbar .tab-wrapper {
    min-width: 1260px;
    margin: 0 auto;
  }
  .navbar .tab-wrapper > .bar-child > .drop-down > ul > li {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .banner-text > h1, .banner-text p {
    text-align: left;
  }
  .banner-text > button {
    float: left;
  }

  .banner > .banner-overlay {
    background: linear-gradient(270deg, transparent 0%, #000);
  }
}
@media only screen and (min-width: 992px) {
  .culture {
    background-image: url("../img/netmatters-transp.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #333645;
    background-position: right;
  }

  .culture-back {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
  }
  .culture-back > p, .culture-back h1 {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .bespoke, .marketing, .IT, .telecoms, .security, .web-design, .schools {
    min-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .card-IT, .card-bespoke, .card-marketing {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
  }
}
@media only screen and (min-width: 768px) {
  .lg-row-nav {
    display: flex;
    margin: 0 auto;
  }

  .security, .schools, .web-design, .telecoms, .marketing, .IT, .bespoke {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .card-security, .card-schools, .card-web, .card-telecoms {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .card-telecoms, .card-security {
    margin-right: 15px !important;
  }

  .card-web, .card-schools {
    margin-left: 15px !important;
  }
}
@media only screen and (min-width: 992px) {
  .xl-row-nav {
    display: flex;
    max-width: 992px;
  }
  .xl-row-nav > .card-nav {
    min-width: 30%;
  }

  .bespoke, .IT, .marketing {
    width: 100%;
    float: left;
    display: block;
    margin: 0 auto;
  }

  .lg-row-nav {
    display: flex;
    width: 992px;
    justify-content: space-around;
    margin: 0 auto;
  }

  .card-bespoke, .card-telecoms, .card-security {
    margin-right: 15px !important;
  }

  .card-IT {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }

  .card-marketing, .card-web, .card-schools {
    margin-left: 15px !important;
  }
}
@media only screen and (min-width: 1260px) {
  .nav-cards {
    width: 1260px;
    margin: 30px auto;
  }

  .xxl-row-nav {
    display: flex;
    flex-direction: row;
    margin: 45px auto;
  }

  .xl-row-nav {
    width: 1260px;
  }

  .lg-row-nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 0;
  }

  .card-security, .card-schools, .card-web, .card-telecoms {
    height: 100%;
    display: block;
    float: left;
    margin: 0 auto;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }

  .card-telecoms {
    margin-left: 0px !important;
    height: 100%;
    display: block;
    float: left;
    margin: 0 auto;
  }

  .card-schools {
    margin-right: 0px !important;
    height: 100%;
    display: block;
    float: left;
    margin: 0 auto;
  }

  .security, .schools, .web-design, .telecoms {
    height: 100%;
    display: block;
    float: left;
    margin: 0 auto;
  }

  .bespoke, .IT, .marketing {
    width: 45%;
    height: 100%;
    display: block;
    float: left;
    margin: 0 auto;
  }

  .card-bespoke {
    margin-right: 15px !important;
  }

  .card-IT {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }

  .card-marketing {
    margin-left: 15px !important;
  }
}
@-moz-document url-prefix() {
  .card-nav > p {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .card-news {
    margin: 20px 20px !important;
  }
}
@media only screen and (min-width: 768px) {
  .news-cards {
    display: flex;
    justify-content: space-between;
  }
  .news-cards > .card:last-of-type {
    display: none;
  }
  .news-cards > .card .news-image {
    height: 200px;
  }
  .news-cards > .card .news-image > .img-overlay {
    height: 200px;
  }
  .news-cards > .card .news-image > .img-overlay > img {
    min-height: 210px;
  }

  .second-news {
    margin-right: 0px !important;
  }
}
@media only screen and (min-width: 992px) {
  .news-cards {
    width: 992px;
    margin: 0 auto;
  }
  .news-cards > .card:last-of-type {
    display: block;
  }
  .news-cards > .card > .news-image {
    height: 200px;
  }
  .news-cards > .card > .news-image > .img-overlay {
    height: 200px;
  }
  .news-cards > .card > .news-image > .img-overlay > img {
    min-height: 180px;
  }

  .news-image:hover > .img-overlay > img {
    transform: scale(1.1);
    background-color: #fff;
  }
  .news-image:hover .cover {
    z-index: 2;
    background-color: #fff;
  }

  .second-news {
    margin-right: 20px !important;
  }
}
@media only screen and (min-width: 1260px) {
  .news-cards {
    width: 1260px;
    margin: 0 auto;
  }
  .news-cards > .card > .news-image {
    height: 220px;
  }
  .news-cards > .card > .news-image > .img-overlay {
    height: 220px;
  }
  .news-cards > .card > .news-image > .img-overlay > img {
    min-height: 230px;
  }

  .news-image:hover > .img-overlay > img {
    transform: scale(1.1);
    background-color: #fff;
  }
  .news-image:hover .cover {
    z-index: 2;
    background-color: #fff;
  }
}
@media only screen and (min-width: 992px) {
  .form-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .form-group {
    padding: 0px 0px;
    margin-bottom: 15px;
    width: 50%;
    height: 47px;
  }

  .sign-up-form {
    width: 992px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1260px) {
  .sign-up-form {
    width: 1260px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  #footer .footer-main .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 15px;
  }
  #footer .footer-main .footer-content > div {
    width: 50%;
  }
}
@media (min-width: 992px) {
  #footer .footer-main .footer-content {
    width: 992px;
    padding: 30px 30px;
  }
  #footer .footer-main .footer-content > div {
    flex-grow: 1;
    width: 40%;
  }
}
@media (min-width: 1260px) {
  #footer .footer-main .footer-content {
    width: 1260px;
    padding: 30px 0px;
  }
  #footer .footer-main .footer-content > div {
    margin: 0 auto;
    width: 20%;
  }
  #footer .footer-main .footer-content > .social-con {
    width: 25%;
  }
  #footer .footer-main .footer-content > .social-con > div > a {
    display: block;
    width: 40px;
  }
}
@-moz-document url-prefix() {
  .button-container > a > img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button-container > a {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .companies, .awards-1, .awards-2, .awards {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .companies > .company > img {
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 1260px) {
  .companies > .company > img {
    transform: scale(0.9);
  }
}
@media only screen and (max-width: 768px) {
  .header-top, #contact-form, .searchbar-mobile, .banner-text,
.nav-cards, .culture-back, .news-header-section,
.news-cards, .companies, .sign-up-form, .footer-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  header {
    width: 100%;
    margin-left: 0;
  }

  #logo {
    vertical-align: middle;
  }

  .buttons {
    margin-left: 0;
  }

  .header-top {
    width: auto;
  }
}
@media only screen and (min-width: 768px) {
  .header-top, .banner-text,
.nav-cards, .culture-back, .news-header-section,
.news-cards, .companies, .sign-up-form, .footer-content, #contact-form {
    max-width: 768px;
    margin: 0 auto;
  }

  .buttons {
    margin-left: 0 !important;
  }
}
@media only screen and (min-width: 992px) {
  .header-top, .banner-text, .tab-wrapper,
.lg-row-nav, .nav-cards, .culture-back, .news-header-section,
.news-cards, .companies, .sign-up-form, .footer-content, .awards-1, .awards-2, #contact-form {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1260px) {
  .header-top, .banner-text, .tab-wrapper,
.xl-row-nav, .xxl-row-nav, .nav-cards,
.culture-back, .news-header-section, .companies,
.news-cards, .footer-content, .sign-up-form, .awards-1, .awards-2, #contact-form {
    max-width: 1260px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1260px) and (-ms-high-contrast: active), only screen and (min-width: 1260px) and (-ms-high-contrast: none) {
  .slides {
    width: 100vw;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .menutext {
    line-height: 0.7rem;
    margin-bottom: 5px;
  }
}
@-moz-document url-prefix() {
  .menutext {
    margin: 0 0;
    padding: 0 0;
  }
}
@-ms-viewport {
  width: device-width;
}
@media only screen and (min-width: 768px) {
  #headerSTICK {
    top: -160px;
  }
}
@media only screen and (min-width: 992px) {
  #headerSTICK {
    top: -230px;
  }
}
@media only screen and (min-width: 1260px) {
  .banner-text {
    padding-top: 20vh !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .culture-back, .nav-cards, .news-cards, .header-top, .footer {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
.alert {
  background: #d24d57;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
