.hamburger {
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hamburger {
  background-color: #333645;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1.125rem;
  transform: scale(0.7);
  display: block;
}

.hamburger:hover {
  background-color: #22242e;
}

.header-top {
  display: flex;
  align-items: baseline;
  padding: 20px 0;
  flex-direction: row;
}

.support:hover {
  border-bottom: solid black 3px;
}

.support, .hamburger {
  margin-left: auto;
}

.support {
  padding: 0px;
  display: block;
}

.searchbar-mobile input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(91, 192, 222, 0.6);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #555;
  height: 47px;
  width: 80vw;
  position: relative;
}

.searchbar-mobile input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.searchbar-mobile button {
  padding: 12px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(91, 192, 222, 0.6);
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 17px;
  cursor: pointer;
  height: 63px;
  position: absolute;
  float: right;
}

.searchbar-mobile button:hover {
  background: #ccc;
}

.searchbar-mobile {
  display: flex;
  flex-wrap: nowrap;
}

.banner {
  height: 85vh;
  min-width: 100%;
  background-image: url("../img/home-57sJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.banner-text {
  text-align: center;
  display: block;
  padding: 10% 10%;
  justify-content: center;
  color: #fff;
}
.banner-text h1 {
  font-size: 3rem;
  letter-spacing: 0.4px;
}

.btn-banner {
  background-color: #4183d7;
  border-radius: 3px;
  border: none;
  padding: 15px 15px;
}

.btn-banner:hover {
  background-color: #2a6ec6;
}

.banner-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.culture-back {
  background-color: #333645;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 15px;
}

@media only screen and (min-width: 992px) {
  .culture-back {
    background-image: url("../img/netmatters-transp.png");
  }
}
.culture-back p {
  color: #fff;
}

.culture-back a {
  color: #333645;
}

.culture-back h1 {
  color: #fff;
}

.btn-culture {
  color: #333645;
  background-color: #fff;
  border-radius: 3px;
  height: 50px;
  display: block;
  width: auto;
  padding: 5px 15px;
  border: none;
  line-height: 35px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.btn-culture:hover {
  background-color: #ebebeb;
}

.latest {
  border-bottom: #333645 5px solid;
  padding-bottom: 80px;
  display: inline-block;
  margin-bottom: -10px;
}

.news-header-section {
  padding: 0px 15px;
  margin: 0px 0px;
  box-shadow: 0px 10px 12px #ddd;
  position: relative;
}

.news-header-section .spacer-rule {
  position: absolute;
  left: 5%;
  top: 50%;
  width: 9%;
  height: 15%;
  margin-bottom: 10px;
}

.news-header-section h2 {
  margin-bottom: 10px;
  padding: 10px 30px;
}

.news-cards {
  padding: 50px 0px;
  box-shadow: 0px 10px 12px #ddd;
}

.readmore-btn {
  color: #fff;
  background-color: #926fb1;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.readmore-btn:hover {
  background-color: #7e57a0;
  cursor: pointer;
}

.news-container {
  padding: 30px 30px;
}

.card {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.card a {
  max-width: 90%;
}

.heading-link {
  color: #926fb1;
  text-decoration: none;
}

.card h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card p {
  color: #666;
}

.avatar, .post-info {
  display: inline-block;
}

.post-info {
  padding-left: 20px;
  line-height: 12px;
}

.card-foot {
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.card h4 {
  color: #000;
}

.minilogo {
  height: 47px;
  width: 47px;
  padding-top: 50%;
}

.minilink {
  position: absolute;
  top: 0%;
  left: 85%;
  background-color: #926fb1;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  padding: 5px 10px;
}

.minilink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign-up-form label {
  margin-bottom: 5px;
}

.field {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.field:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 0 8px rgba(91, 192, 222, 0.6);
}

.sign-up-form {
  background-color: #ddd;
  color: #333645;
  display: flex;
  flex-direction: column;
  flex-basis: block;
  padding: 30px 50px;
}

.sign-up-form h2 {
  font-size: 2rem;
}

.sign-up-form button {
  color: #ddd;
  background-color: #333645;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.sign-up-form button:hover, label:hover, .check:hover {
  cursor: pointer;
}

.sign-up-form button:hover {
  background-color: #121419;
}

.ast {
  color: red;
}

.sign-up-form a {
  color: #333645;
  text-decoration: underline;
}

.sign-up-form a:hover {
  color: #121419;
  text-decoration: underline;
}

.footer-main {
  background-color: #333645;
  flex-direction: column;
  padding: 47px 0px;
}

.contact {
  flex-grow: 1;
  align-self: left;
}

.footer-main p, h4, li, a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  margin-left: 10px;
  margin-top: 10px;
}

.footer-main a:hover {
  text-decoration: underline;
}

.social {
  box-sizing: border-box;
  border: none;
  width: 100%;
  transition: background-color 0.3s;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  padding: 15px 50px;
  flex-wrap: wrap;
  flex-basis: stretch;
}

.social-con a {
  display: inline-block;
  height: auto;
  width: 40%;
  justify-content: space-between;
}

.social:hover {
  background-color: #00aced;
}

.companies {
  display: flex;
  flex-basis: inline;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  margin: 0px 49px;
  padding: 50px 15px;
}

.busseys-b, .crane-b, .beat-b, .northern-b,
.future-b, .norfolk-b, .investing-b, .princess-b, .skills-b {
  display: none;
}

.tooltiptext {
  visibility: hidden;
  width: 300px;
  height: 200px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
  line-height: 30px;
  margin-left: -60px;
  font-size: 0.1rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10%;
  padding-bottom: 50%;
  margin-bottom: 50px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  border-width: 20px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.tooltiptext .spacer-rule {
  background-color: #fff;
}

.con-bus, .con-crane, .con-beat, .con-north {
  position: relative;
}

.con-bus:hover .busseys-b {
  display: block;
}
.con-bus:hover .busseys {
  display: none;
}
.con-bus:hover .tbus {
  visibility: visible;
}

.con-crane:hover .crane-b {
  display: block;
}
.con-crane:hover .crane {
  display: none;
}
.con-crane:hover .tcrane {
  visibility: visible;
}

.con-beat:hover .beat-b {
  display: block;
}
.con-beat:hover .beat {
  display: none;
}
.con-beat:hover .tbeat {
  visibility: visible;
}

.con-north:hover .northern-b {
  display: block;
}
.con-north:hover .northern {
  display: none;
}
.con-north:hover .tnorth {
  visibility: visible;
}

.awards-1 {
  display: flex;
  flex-basis: inline;
  justify-content: space-between;
  flex-direction: row;
}

.awards-2 {
  display: flex;
  flex-basis: inline;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

.con-future:hover .future-b {
  display: block;
}
.con-future:hover .future {
  display: none;
}

.con-norfolk:hover .norfolk-b {
  display: block;
}
.con-norfolk:hover .norfolk {
  display: none;
}

.con-investing:hover .investing-b {
  display: block;
}
.con-investing:hover .investing {
  display: none;
}

.con-princess:hover .princess-b {
  display: block;
}
.con-princess:hover .princess {
  display: none;
}

.con-skills:hover .skills-b {
  display: block;
}
.con-skills:hover .skills {
  display: none;
}

@media only screen and (max-width: 768px) {
  .companies, .awards-1, .awards-2 {
    display: none;
  }
}
.card {
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

hr {
  width: 80%;
}

ul {
  padding-left: 0;
}

.spacer-rule {
  width: 10%;
  height: 3px;
  background-color: #333645;
  border: none;
}

.field {
  margin-left: 0.5rem;
  width: 90%;
  justify-self: center;
}

.nav-cards a {
  color: #333645;
}
.nav-cards a:hover {
  color: #fff;
}
.nav-cards button:hover {
  cursor: pointer;
}

.card-nav {
  justify-content: center;
  padding: 30px 30px;
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 1.5rem 1.5rem;
}
.card-nav button {
  margin-top: 30px;
}

.card-nav span {
  padding: 30px 30px;
}

.nav-icon-con {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  padding: 1% 1%;
  margin: 10px 45%;
}

.btn-nav {
  border: none;
  color: #fff;
  border-radius: 3px;
}

.bespoke, #btn-bespoke {
  background-color: #67809f;
}

.IT, #btn-IT {
  background-color: #4183d7;
}

.marketing, #btn-marketing {
  background-color: #2ecc71;
}

.telecoms, #btn-telecoms {
  background-color: #d64541;
}

.security, #btn-security {
  background-color: #f62459;
}

.web-design, #btn-web {
  background-color: #926fb1;
}

.schools, #btn-school {
  background-color: #926fb1;
}

.card-bespoke:hover {
  background-color: #67809f;
  color: #fff;
}
.card-bespoke:hover .nav-icon-con, .card-bespoke:hover #btn-bespoke {
  background-color: #fff;
  color: #67809f;
}
.card-bespoke:hover .spacer-rule {
  background-color: #fff;
}
.card-bespoke:hover svg {
  fill: #67809f;
}

.card-IT:hover {
  background-color: #4183d7;
  color: #fff;
}
.card-IT:hover .nav-icon-con, .card-IT:hover #btn-IT {
  background-color: #fff;
  color: #4183d7;
}
.card-IT:hover .spacer-rule {
  background-color: #fff;
}
.card-IT:hover svg {
  fill: #4183d7;
}

.card-marketing:hover {
  background-color: #2ecc71;
  color: #fff;
}
.card-marketing:hover .nav-icon-con, .card-marketing:hover #btn-marketing {
  background-color: #fff;
  color: #2ecc71;
}
.card-marketing:hover .spacer-rule {
  background-color: #fff;
}
.card-marketing:hover svg {
  fill: #2ecc71;
}

.card-telecoms:hover {
  background-color: #d64541;
  color: #fff;
}
.card-telecoms:hover .nav-icon-con, .card-telecoms:hover #btn-telecoms {
  background-color: #fff;
  color: #d64541;
}
.card-telecoms:hover .spacer-rule {
  background-color: #fff;
}
.card-telecoms:hover svg {
  fill: #d64541;
}

.card-web:hover {
  background-color: #926fb1;
  color: #fff;
}
.card-web:hover .nav-icon-con, .card-web:hover #btn-web {
  background-color: #fff;
  color: #926fb1;
}
.card-web:hover .spacer-rule {
  background-color: #fff;
}
.card-web:hover svg {
  fill: #926fb1;
}

.card-security:hover {
  background-color: #f62459;
  color: #fff;
}
.card-security:hover .nav-icon-con, .card-security:hover #btn-security {
  background-color: #fff;
  color: #f62459;
}
.card-security:hover .spacer-rule {
  background-color: #fff;
}
.card-security:hover svg {
  fill: #f62459;
}

.card-schools:hover {
  background-color: #926fb1;
  color: #fff;
}
.card-schools:hover .nav-icon-con, .card-schools:hover #btn-school {
  background-color: #fff;
  color: #926fb1;
}
.card-schools:hover .spacer-rule {
  background-color: #fff;
}
.card-schools:hover svg {
  fill: #926fb1;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}

*:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
