* {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
* ul, * li, * a, * p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
* a {
  text-decoration: none;
}

.card {
  display: block;
  position: relative;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.card > hr {
  width: 90%;
}

button {
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

*:focus {
  outline: none;
}

.hamburger {
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header > .header-top {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 20px 0;
  flex-direction: row;
}
.header > .header-top > .logo {
  max-width: 100%;
  display: block;
}
.header > .header-top > .logo img {
  vertical-align: middle;
}
.header > .header-top > .support, .header > .header-top .hamburger {
  margin-left: auto;
}
.header > .header-top > .support {
  padding: 0px;
  display: block;
}
.header > .header-top > .support:hover {
  border-bottom: solid black 3px;
}
.header > .header-top > .xl-btn {
  display: block;
  padding: 15px 10px;
  font-size: 1.125rem;
  border: none;
  border-radius: 3px;
  color: white;
}
.header > .header-top > .xl-support {
  background-color: #4183d7;
}
.header > .header-top > .xl-support:hover {
  background-color: #2a6ec6;
}
.header > .header-top > .xl-contact {
  background-color: #999aa2;
}
.header > .header-top > .xl-contact:hover {
  background-color: #84858f;
}
.header > .header-top > .hamburger {
  background-color: #333645;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1.125rem;
  transform: scale(0.7);
  display: block;
}
.header > .header-top > .hamburger:hover {
  background-color: #22242e;
}
.header > .searchbar-mobile {
  display: flex;
  flex-wrap: nowrap;
}
.header > .searchbar-mobile:input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(91, 192, 222, 0.6);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #555;
  height: 47px;
  width: 80vw;
  position: relative;
}
.header > .searchbar-mobile:input[type=text]:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.header > .searchbar-mobile > button {
  padding: 12px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(91, 192, 222, 0.6);
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 17px;
  cursor: pointer;
  height: 63px;
  position: absolute;
  float: right;
}
.header > .searchbar-mobile > button:hover {
  background: #ccc;
}

.banner {
  height: 85vh;
  min-width: 100%;
  background-image: url("../img/home-57sJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.banner > .banner-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner > .banner-overlay > .banner-text {
  text-align: center;
  display: block;
  padding: 10% 10%;
  justify-content: center;
  color: #fff;
}
.banner > .banner-overlay > .banner-text > h1 {
  font-size: 3rem;
  letter-spacing: 0.4px;
}
.banner > .banner-overlay > .banner-text > a {
  color: #fff;
}
.banner > .banner-overlay > .banner-text > .btn-banner {
  background-color: #4183d7;
  border-radius: 3px;
  border: none;
  padding: 15px 15px;
  color: #fff;
}
.banner > .banner-overlay > .banner-text > .btn-banner:hover {
  background-color: #2a6ec6;
}

.nav-cards a {
  color: #333645;
}
.nav-cards a:hover {
  color: #fff;
}
.nav-cards button:hover {
  cursor: pointer;
}

.card-nav {
  justify-content: center;
  padding: 30px 30px;
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 1.5rem 1.5rem;
}
.card-nav button {
  margin-top: 30px;
}

.card-nav span {
  padding: 30px 30px;
  text-align: center;
}

.nav-icon-con {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto 17px;
  display: block;
  text-align: center;
  font-size: 1.3rem;
  line-height: 58px;
}

.btn-nav {
  border: none;
  color: #fff;
  border-radius: 3px;
}

.bespoke, #btn-bespoke {
  background-color: #67809f;
}

.IT, #btn-IT {
  background-color: #4183d7;
}

.marketing, #btn-marketing {
  background-color: #2ecc71;
}

.telecoms, #btn-telecoms {
  background-color: #d64541;
}

.security, #btn-security {
  background-color: #f62459;
}

.web-design, #btn-web {
  background-color: #926fb1;
}

.schools, #btn-school {
  background-color: #926fb1;
}

.card-bespoke:hover {
  background-color: #67809f;
  color: #fff;
}
.card-bespoke:hover .nav-icon-con, .card-bespoke:hover #btn-bespoke {
  background-color: #fff;
  color: #67809f;
}
.card-bespoke:hover .spacer-rule {
  background-color: #fff;
}
.card-bespoke:hover svg {
  fill: #67809f;
}

.card-IT:hover {
  background-color: #4183d7;
  color: #fff;
}
.card-IT:hover .nav-icon-con, .card-IT:hover #btn-IT {
  background-color: #fff;
  color: #4183d7;
}
.card-IT:hover .spacer-rule {
  background-color: #fff;
}
.card-IT:hover svg {
  fill: #4183d7;
}

.card-marketing:hover {
  background-color: #2ecc71;
  color: #fff;
}
.card-marketing:hover .nav-icon-con, .card-marketing:hover #btn-marketing {
  background-color: #fff;
  color: #2ecc71;
}
.card-marketing:hover .spacer-rule {
  background-color: #fff;
}
.card-marketing:hover svg {
  fill: #2ecc71;
}

.card-telecoms:hover {
  background-color: #d64541;
  color: #fff;
}
.card-telecoms:hover .nav-icon-con, .card-telecoms:hover #btn-telecoms {
  background-color: #fff;
  color: #d64541;
}
.card-telecoms:hover .spacer-rule {
  background-color: #fff;
}
.card-telecoms:hover svg {
  fill: #d64541;
}

.card-web:hover {
  background-color: #926fb1;
  color: #fff;
}
.card-web:hover .nav-icon-con, .card-web:hover #btn-web {
  background-color: #fff;
  color: #926fb1;
}
.card-web:hover .spacer-rule {
  background-color: #fff;
}
.card-web:hover svg {
  fill: #926fb1;
}

.card-security:hover {
  background-color: #f62459;
  color: #fff;
}
.card-security:hover .nav-icon-con, .card-security:hover #btn-security {
  background-color: #fff;
  color: #f62459;
}
.card-security:hover .spacer-rule {
  background-color: #fff;
}
.card-security:hover svg {
  fill: #f62459;
}

.card-schools:hover {
  background-color: #926fb1;
  color: #fff;
}
.card-schools:hover .nav-icon-con, .card-schools:hover #btn-school {
  background-color: #fff;
  color: #926fb1;
}
.card-schools:hover .spacer-rule {
  background-color: #fff;
}
.card-schools:hover svg {
  fill: #926fb1;
}

.culture-back {
  background-color: #333645;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 15px;
}

.culture-back p {
  color: #fff;
}

.culture-back a {
  color: #333645;
}

.culture-back h1 {
  color: #fff;
}

.btn-culture {
  color: #333645;
  background-color: #fff;
  border-radius: 3px;
  height: 50px;
  display: block;
  width: auto;
  padding: 5px 15px;
  border: none;
  line-height: 35px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.btn-culture:hover {
  background-color: #ebebeb;
}

.latest {
  border-bottom: #333645 5px solid;
  padding-bottom: 80px;
  display: inline-block;
  margin-bottom: -10px;
}

.news-header-section {
  padding: 0px 15px;
  margin: 0px 0px;
  box-shadow: 0px 10px 12px #ddd;
  position: relative;
}

.news-header-section .spacer-rule {
  position: absolute;
  left: 5%;
  top: 50%;
  width: 9%;
  height: 15%;
  margin-bottom: 10px;
}

.news-header-section h2 {
  margin-bottom: 10px;
  padding: 10px 30px;
}

.news-cards {
  padding: 50px 0px;
  box-shadow: 0px 10px 12px #ddd;
}

.news-img-link {
  transition: transform 0.4s ease-in-out;
}

.news-img-link:hover {
  transform: scale(1.2);
}

.readmore-btn {
  color: #fff;
  background-color: #926fb1;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.readmore-btn:hover {
  background-color: #7e57a0;
  cursor: pointer;
}

.news-container {
  padding: 30px 30px;
}

.heading-link {
  color: #926fb1;
  text-decoration: none;
}

.card h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card p {
  color: #666;
}

.avatar, .post-info {
  display: inline-block;
}

.post-info {
  padding-left: 20px;
  line-height: 12px;
}

.card-foot {
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
  vertical-align: middle;
  width: 100%;
}

.card h4 {
  color: #000;
}

.minilogo {
  height: auto;
  max-width: 49px;
}

.minilink {
  position: absolute;
  top: 10px;
  right: 0%;
  background-color: #926fb1;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  padding: 5px 10px;
}

.minilink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign-up-form label {
  margin-bottom: 5px;
  font-weight: 600;
}

.field {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 90%;
}

.field:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 0 8px rgba(91, 192, 222, 0.6);
}

.sign-up-form {
  background-color: #ddd;
  color: #333645;
  display: flex;
  flex-direction: column;
  flex-basis: block;
  padding: 0px 30px;
}

.sign-up-form h2 {
  font-size: 2rem;
}

.sign-up-form button {
  color: #ddd;
  background-color: #333645;
  border-radius: 3px;
  border: none;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 15px;
}

.sign-up-form button:hover, label:hover, .check:hover {
  cursor: pointer;
}

.sign-up-form button:hover {
  background-color: #121419;
}

.ast {
  color: red;
}

.sign-up-form a {
  color: #333645;
  text-decoration: underline;
}

.sign-up-form a:hover {
  color: #121419;
  text-decoration: underline;
}

.form {
  padding: 50px 30px;
}

footer {
  background-color: #333645;
}
footer .footer-main p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
footer .footer-main .footer-content {
  display: flex;
  flex-direction: column;
}
footer .footer-main .footer-content > div {
  color: white;
  text-decoration: none;
  padding: 0px 15px;
  margin-bottom: 30px;
}
footer .footer-main .footer-content > div ul li {
  list-style-type: none;
}
footer .footer-main .footer-content > div h4 {
  margin-bottom: 26px;
}
footer .footer-main .footer-content > div a {
  text-decoration: none;
  color: white;
}
footer .footer-main .footer-content > div a:hover {
  text-decoration: underline;
}
footer .footer-main .footer-content .social-con .button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
footer .footer-main .footer-content .social-con .button-container a {
  display: block;
  text-align: center;
  width: 40%;
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}
footer .footer-main .footer-content .social-con .button-container .facebook:hover {
  background-color: #3b5998;
}
footer .footer-main .footer-content .social-con .button-container .twitter:hover {
  background-color: #3b5998;
}
footer .footer-main .footer-content .social-con .button-container .linked-in:hover {
  background-color: #3b5998;
}

.companies {
  display: flex;
  flex-basis: inline;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  margin: 0px auto;
  padding: 50px 15px;
}

.company {
  display: inline-block;
  max-width: 25%;
  transform: scale(0.8);
}
.company > img {
  vertical-align: middle;
  width: 60%;
  height: auto;
}

.tooltiptext {
  visibility: hidden;
  width: 300px;
  height: 200px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
  line-height: 30px;
  margin-left: -60px;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10%;
  padding-bottom: 80%;
  margin-bottom: 70px;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  border-width: 20px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}
.tooltiptext > .spacer-rule {
  background-color: #fff;
}

.con-bus, .con-crane, .con-beat, .con-north {
  position: relative;
}
.con-bus img:last-of-type, .con-crane img:last-of-type, .con-beat img:last-of-type, .con-north img:last-of-type {
  display: none;
}
.con-bus:hover img:first-of-type, .con-crane:hover img:first-of-type, .con-beat:hover img:first-of-type, .con-north:hover img:first-of-type {
  display: none;
}
.con-bus:hover img:last-of-type, .con-crane:hover img:last-of-type, .con-beat:hover img:last-of-type, .con-north:hover img:last-of-type {
  display: block;
}
.con-bus:hover > .tooltiptext, .con-crane:hover > .tooltiptext, .con-beat:hover > .tooltiptext, .con-north:hover > .tooltiptext {
  visibility: visible;
}

.awards {
  background-color: #fff;
  padding: 50px 0px;
}

.awards-1,
.awards-2 {
  display: flex;
  flex-basis: inline;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 64px;
  margin-right: 64px;
}
.awards-1 > .greyscale img:first-of-type,
.awards-2 > .greyscale img:first-of-type {
  display: block;
}
.awards-1 > .greyscale img:last-of-type,
.awards-2 > .greyscale img:last-of-type {
  display: none;
}
.awards-1 > .greyscale:hover img:first-of-type,
.awards-2 > .greyscale:hover img:first-of-type {
  display: none;
}
.awards-1 > .greyscale:hover img:last-of-type,
.awards-2 > .greyscale:hover img:last-of-type {
  display: block;
}

.awards-2 {
  display: flex;
  flex-basis: inline;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

.spacer-rule {
  width: 10%;
  height: 3px;
  background-color: #333645;
  border: none;
}

@media only screen and (max-width: 768px) {
  .searchbar-lg {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .xl-btn {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .lg-search-input {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .support {
    display: none;
  }

  .searchbar-mobile {
    display: none;
  }

  .search-btn {
    background-color: #999aa2;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 3px;
  }

  .search-svg {
    fill: #fff;
  }
}
@media only screen and (min-width: 768px) {
  .lg-row-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .card-security, .card-schools, .card-web, .card-telecoms {
    width: 50%;
    display: block;
    float: left;
    padding: 0px 15px;
  }
}
@media only screen and (min-width: 992px) {
  .culture-back {
    background-image: url("../img/netmatters-transp.png");
  }
}
@media only screen and (min-width: 992px) {
  .xl-row-nav {
    display: flex;
    justify-content: space-between;
  }

  .bespoke, .IT, .marketing {
    max-width: 33.3%;
    float: left;
    display: block;
  }
}
@media only screen and (min-width: 1260px) {
  .xxl-row-nav {
    display: flex;
    justify-content: space-between;
  }

  .lg-row-nav {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  .news-cards {
    display: flex;
    justify-content: space-between;
  }

  .card-news {
    max-width: 100vh;
    flex-grow: 1;
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 992px) {
  .form-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .form-group {
    padding: 0px 15px;
    margin-bottom: 15px;
    width: 50%;
    height: 47px;
  }
}
@media (min-width: 768px) {
  footer .footer-main {
    width: 750px;
    margin: 50px auto 0;
  }
  footer .footer-main .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .footer-main .footer-content > div {
    width: 50%;
  }
}
@media (min-width: 993px) {
  footer .footer-main {
    width: 975px;
  }
  footer .footer-main .footer-content > div {
    width: 25%;
  }
}
@media (min-width: 1278px) {
  footer .footer-main {
    width: 1260px;
  }
}
@media only screen and (max-width: 768px) {
  .companies, .awards-1, .awards-2 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
