//header queries

//show large searchbar
@media only screen and (max-width:768px){
    .searchbar-lg{
        display: none;
    }  
}
//hide call button and mobile search
@media only screen and (min-width:768px){
    .support{
        & > a{
            display: none;
        }
    }

    .searchbar-mobile{
        visibility: hidden;
    }    
}
//show desktop/tablet search bar
@media only screen and (min-width:768px){
    .searchbar-lg{
        position:absolute;
        top:15px;
        right: 140px;

        & > form{
            position:relative;
            border: 1px solid #999aa2;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            & > input{
                height: 40px;
                border:none;

                &:focus{
                    
                    border-color: #5bc0de;
                    box-shadow: inset 0 0 8px rgb(91 192 222 / 60%);
                    
                }
            }
            & > button{
                position: absolute;
                background-color: #999aa2;
                border: inherit;
                height: 42px;
                width: 40px;
                border-radius: 3px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                top:-1px;
                right: -40px;
                & svg{
                    fill: #fff;
                }
            }
        }
        
    }
}
//show support and contact buttons
@media only screen and (max-width:992px){
    .big-beautiful-button{
        display: none;
    }
}

//show contact buttons
@media only screen and (min-width:992px){
    //hide tablet/desktop searchbar
    .searchbar-lg{
        & > form{
            & > input{
                display:none;
            }
            & > button{
                border-radius: 3px;
            }
        }
        
    }

    .support-xl{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        border:none;
        border-radius:3px;
        color:#fff;
        height: 40px;
        width:100px;
        position: absolute;
        top:15px;
        right: 305px;
        & > svg{
            display:block;
        }
    }

    .contact-xl{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        border:none;
        border-radius:3px;
        color:#fff;
        height: 40px;
        width:100px;
        position: absolute;
        top:15px;
        right: 200px;
        & > svg{
            display:block;
        }
    }

}



@media only screen and (min-width:1260px){
    .searchbar-lg{
        & > form{
            & > input{
                display:block;
            }
            & > button{
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
        
    }

    .support-xl{
        right: 505px;
    }

    .contact-xl{
        right: 400px;
    }
}




//culture query
@media only screen and (min-width:992px){
    .culture-back{
        background-image: url("../img/netmatters-transp.png");

        & > p,h1{
            width: 50%;
        }
    }
    
}

//nav queries

@media only screen and (min-width: 768px) and (max-width:1260px){
    .lg-row-nav{
        display:flex;
        justify-content: space-around;
    }

    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 50%;
        display:block;
        float:center;
        margin: 0 auto;
        padding: 0 auto;

    }
}

@media only screen and (min-width: 992px){
    .xl-row-nav{
        display:flex;
        justify-content: space-between;
        margin: 45px auto;
    }

    .bespoke,.IT,.marketing{
        max-width: 33.3%;
        float:left;
        display:block;
        margin: 0 auto;
        padding: 0 auto;
    }

}

@media only screen and (min-width: 1260px){
    .xxl-row-nav{
        display:flex;
        flex-direction: row;
        justify-content: stretch;
        margin: 45px auto;
    }

    .lg-row-nav{
        display:flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 0 0;
    }

    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;
        padding: 0 auto;
    }

}

//news queries

@media only screen and (min-width: 768px){
    .news-cards{
        display: flex;
        justify-content: space-between;
    }

    .card-news{
        max-width: 100vh;
        flex-grow: 1;
        transform: scale(0.8);
    }

}

@media only screen and (min-width: 1260px){
    .news-image:hover{
                
        .img-overlay{
            
            

            & > img {
                transform: scale(1.2);
                opacity: 0.5;
                background-color: #fff;
            }

        }             
                
    }
}

//sign-up query
@media only screen and (min-width: 992px){
    .form-box{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .form-group{
        padding: 0px 0px;
        margin-bottom: 15px;
        width: 50%;
        height: 47px;
    }
}

//footer queries
@media (min-width: 768px) {
    footer {
        .footer-main {
            width: 750px;
            margin: 0px auto 0;
    
            .footer-content {
                flex-direction: row;
                flex-wrap: wrap;
    
                & > div {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 993px) {
    footer {

        .footer-main {
            width: 975px;

            .footer-content {
                & > div {
                    width: 25%;
                }
            }
        }
    }
}

@media (min-width: 1278px) {
    footer {

        .footer-main {
            width: 1260px;
            padding-top: 30px;
        }
    } 
}

//company queries

@media only screen and (max-width: 768px){
    .companies, .awards-1, .awards-2, .awards{
        display:none;
    }
}