//header queries
@media only screen and (min-width:786px){
    .cookie-bottom{
        display: flex;
        & > button{
            width: 60%;
        }
    }
}

//show large searchbar
@media only screen and (max-width:786px){
    .searchbar-lg{
        display: none;
    }
    
    .searchbar-mobile{
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            & > button{
                margin-right: 20px;
            }
        }
        margin: 0 auto;
    }
    


    .lg-row-nav{
        display: block;
        justify-content: space-around;
        margin: 0 auto;
    }

    .security,.schools,.web-design,.telecoms, .marketing, .bespoke, .IT{
        width: 100%;
        display:block;
        margin: 0 auto;
        
        
    }
    
}
//hide call button and mobile search
@media only screen and (min-width:786px){
    .support{
        & > i{
            display: none;
        }
    }

    .header{
        & > .searchbar-mobile{
            display: none;
            & > i{
                display: none;
            }
        }
        margin-bottom: 30px;
       
        
    }
        
}
//show desktop/tablet search bar
@media only screen and (min-width:786px){
    .searchbar-lg{
        display: block;

        & > form{
            position:relative;
            display: flex;
            flex-direction: row;
            & > input{
                width:150px;
                height: 56px;
                border: 1px solid $gray-ish;
                padding-left: 15px;
                padding-right: 30px;
                display: block;


                &:focus{
                    
                    border-color: #5bc0de;
                    box-shadow: 0 0 8px rgb(91 192 222 / 60%);
                    
                }
            }
            & > button{
                
                background-color: $gray-ish;
                color: #fff;
                border: inherit;
                height: 56px;
                width: 68px;
                border-radius: 3px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                display: block;
                padding: 7px 20px 3px;
                & > i {
                    font-size: 20px;
                    
                }
                &:hover{
                    background-color: #84858f;
                }
                
            }
        }
        
    }
}
//hide support and contact buttons
@media only screen and (max-width:1024px){
    .buttons{
        & > .btn-banner{
            display: none;
        }
        
    }
}

//show contact buttons
@media only screen and (min-width:1024px){
    //hide tablet/desktop searchbar
    .searchbar-lg{
        & > form{
            border:none;
            & > input{
                display:none;
               
                
            }
            & > button{
                border-radius: 3px;
                
            }
        }
        
    }

    

    .header-top{
        width:1024px;
        margin: 0 auto;
        
    }

    
}



@media only screen and (min-width:1280px){
    
    .header-top{
        width:1280px;
        margin: 0 auto;
    }
    
    .searchbar-lg{
        & > form{
            
            & > input{
                display:block;
                border: 1px solid $gray-ish;
                
            }
            & > button{
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                right:-40px;
            }
        }
        
    }

}

//navbar queries
@media only screen and (max-width:1024px){
    .navbar{
        display: none;
    }
}

@media only screen and (min-width:1024px){
    .navbar{
        min-width: 1024px;
       
        & > .tab-wrapper{
            width: 1024px;
            margin: 0 auto;
            & > .bar-child{
                & > .drop-down{
                    & > ul{
                        & > li{
                            font-size: 0.805rem;
                        }
                    }
                }
            }
        }
    }
    
}



@media only screen and (min-width:1280px){
    .navbar{
        min-width: 1280px;
      
        .tab-wrapper{
            min-width: 1280px;
            margin: 0 auto;
            & > .bar-child{
                & > .drop-down{
                    & > ul{
                        & > li{
                            font-size: 1.0rem;
                        }
                    }
                }
            }
            
        }
    }
    
}

//banner query
@media only screen and (min-width:786px)
{
    .banner-text{
        padding-left: 15px;
        & > h1, p{
            text-align: left;
        }
        
        & > button{
            float: left;
           
        }
        
    }

    .banner{
        & >.banner-overlay{
            background: linear-gradient(270deg, transparent 0%, #000);
        }
    }

    
}


//culture query
@media only screen and (min-width:1024px){
    .culture{
        background-image: url("../img/netmatters-transp.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $navy-ish;
        background-position: right;
    }
    .culture-back{
        width: 1024px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        

        & > p,h1{
            width: 50%;
        }
    }
    
}

//nav queries
@media only screen and (max-width: 1024px){
    .bespoke,.marketing,.IT,.telecoms,.security,.web-design,.schools{
        min-width: 100%;
        display:block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 786px){
    .lg-row-nav{
        display: flex;
        width: 786px;
        justify-content: space-around;
        margin: 0 auto;
    }

    .security,.schools,.web-design,.telecoms, .marketing, .IT, .bespoke{
        width: 50%;
        display:block;
        margin: 0 auto;
        
        
    }
    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 50%;
        display:block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1024px){
    .xl-row-nav{
        display:flex;
        width: 1024px;
        //justify-content: space-between;
        margin: 0px auto;
        & > .card-nav{
            min-width: 30%;
        }
    }

    .bespoke,.IT,.marketing{
        width: 100%;
        float:left;
        display:block;
        margin: 0 auto;
        
    }
    
    

}

@media only screen and (min-width: 1280px){
    .nav-cards{
        width: 1280px;
        margin: 0 auto;
    }
    
    .xxl-row-nav{
        display:flex;
        flex-direction: row;
        //justify-content: stretch;
        margin: 45px auto;
    }

    .lg-row-nav{
        display:flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 0 0;
        
    }

    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;
        
        
    }
    .security,.schools,.web-design,.telecoms{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;
        
        
    }

    .bespoke, .IT, .marketing{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;
    }

    



}

@-moz-document url-prefix(){
    .card-nav{
        & > p{
            margin-bottom: 15px;
        }
    }
}

//news queries
// @media only screen and (max-width: 786px){
//     .news-image{
//         max-height: 200px;
//         & > .img-overlay{
//             height: auto;
//             & > img{
//                 //min-height: 100px;
//                 height: 200px;
//             }
//         }
//     }
// }


@media only screen and (min-width: 786px){
    .news-cards{
        display: flex;
        justify-content: space-between;
        & > .card:last-of-type{
            display: none;
        }
        & > .card{
            .news-image{
                height: 200px;
                & > .img-overlay{
                    height: 200px;
                    & > img{
                        min-height: 210px;
                    }
                }
            }
        }
        
    }

    

}


@media only screen and (min-width: 1024px){
    .news-cards{
        width: 1024px;
        margin: 0 auto;
        & > .card:last-of-type{
            display: block;
        }
        & > .card{
           & > .news-image{
               height: 220px;
               & > .img-overlay{
                height: 220px;
                & > img{
                    min-height: 230px;
                }
            }
           }
        }
        
        
    }
   
    
    .news-image:hover{
              
        & > .img-overlay{
            
            & > img {
                transform: scale(1.1);
                background-color: #fff;
            }

        }  
        
        .cover{
            z-index: 2;
            background-color: #fff;
        }
                
    }
}

@media only screen and (min-width: 1280px){
    .news-cards{
        width: 1280px;
        margin: 0 auto;
        
        
        
        
    }
   
    
    .news-image:hover{
              
        & > .img-overlay{
            
            & > img {
                transform: scale(1.1);
                background-color: #fff;
            }

        }  
        
        .cover{
            z-index: 2;
            background-color: #fff;
        }
                
    }
}




//sign-up query
@media only screen and (min-width: 1024px){
    .form-box{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .form-group{
        padding: 0px 0px;
        margin-bottom: 15px;
        width: 50%;
        height: 47px;
    }
    .sign-up-form{
        width: 1024px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1280px){
    .sign-up-form{
        width: 1280px;
        margin: 0 auto;
    }
}
//footer queries
@media (min-width: 786px) {
    footer {
        .footer-main {
    
            .footer-content {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 30px 15px;
    
                & > div {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    footer {

        .footer-main {
            

            .footer-content {
                width: 1024px;
                padding: 30px 30px;
                
                & > div {
                    
                    margin: 0 auto;
                    width: 40%;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    footer {

        .footer-main {
            

            .footer-content {
                width: 1280px;
                padding: 30px 0px;
                
                & > div {
                    
                    margin: 0 auto;
                    width: 20%;
                }
                & > .social-con{
                    width: 40%;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    footer {

        .footer-main {
            

            .footer-content {
                width: 1280px;
                padding: 30px 0px;
                
                & > div {
                    
                    margin: 0 auto;
                    width: 20%;
                }
                & > .social-con{
                    width: 30%;
                }
            }
        }
    }
}


@-moz-document url-prefix(){
    .button-container{
        & > a {
            & > img {
                width: 30px;
                height: 30px;
            }
        }
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .button-container{
        & > a{
            margin-bottom: 15px;
        }
    }
}

//company queries

@media only screen and (max-width: 786px){
    .companies, .awards-1, .awards-2, .awards{
        display:none;
    }
}

@media only screen and (max-width: 1024px){
    .companies{
        & > .company{
            & >img{
                transform: scale(0.8);
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    .companies{
        & > .company{
            & >img{
                transform: scale(0.9);
            }
        }
    }
}

//universal display queries

//mobiles
@media only screen and (max-width: 425px){
    .header, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        max-width: 425px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 425px){
    .header, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        min-width: 425px;
        margin: 0 auto;
    }
}
//tablets
@media only screen and (min-width: 786px){
    .header, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        width: 786px;
        margin: 0 auto;
    }
}
//small laptops
@media only screen and (min-width: 1024px){
    .header, .searchbar-mobile, .banner-text, .tab-wrapper,
    .lg-row-nav, .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content, .awards-1, .awards-2 {
        width: 1024px;
        margin: 0 auto;
    }
    
    
}

@media only screen and (min-width: 1280px){
    .header, .searchbar-mobile, .banner-text, .tab-wrapper,
    .xl-row-nav, .xxl-row-nav, .nav-cards,
    .culture-back, .news-header-section, .companies,
    .news-cards, .footer-content, .sign-up-form, .awards-1, .awards-2 {
        width: 1280px;
        margin: 0 auto;
    }
}

//cross browser fixes
//header
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .menutext{
        line-height: 0.7rem;
        margin-bottom: 5px;
        
    }
    .hamburger{
        padding-bottom: 5px;
        
    }
    
}

@-moz-document url-prefix(){
    .menutext{
        margin: 0 0;
        padding: 0 0;
        
    }
    
}