.nav{
    width: 300px;
    padding-bottom: 0;
    & > ul{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
.inset-block{
    width: 80%; 
    padding: 15px 15px;
    display: block;
    border-radius: 5px; 
    background-color: #333645; 
    border: 1px solid #484a58;
    outline: 1px solid #262834;
    margin: 20px auto;
    color: #fff;
    &::after{
        display: none;
    }

    

    & > a .fa-code {
        color: #926fb1;
    }
    & > a .fa-desktop {
        color: #4183d7;
    }
    & > a .fa-phone-alt {
        color: #d64541;
    }
    & > a .fa-th {
        color: #67809f;
    }
    & > a .fa-signal {
        color: #23cc71;
    }
    & > a .fa-shield-alt {
        color: #f62459;
    }
    & > a span:first-of-type{
        font-size: .625rem;
        line-height: 1;
    }

    & > a span:last-of-type{
        font-size: 1.438rem;
        line-height: 1;
    }

    &:hover{
        background-color: hsla(0,0%,100%,.05);
        cursor: pointer;
    }

    
}

.menu-list-link{
    margin: 0 auto;
    padding: 0 0;
    width: 100%;
    & > li{
        padding: 18px 0;
        width: 100%;
        padding-left: 20px;
    }
    & > .divider{
        padding: 18px 0;
        padding-left: 20px;
    }
    
    &:hover{
        & > .inset-block, .divider{
            background-color: hsla(0,0%,100%,.05);
        }
        cursor: pointer;
    }
}
  



#my-list{

    & > ul{
        & > li{
            background-color: rgba(0,0,0,.25);
        }
    }
}



.burger-item{
    background-color: rgba(0,0,0,.25);
    margin: 0 auto;
    width: 80%;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
    &::after{
        display: none;
    }
    
    

}
.first{
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.last{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: none;
    margin-bottom: 20px;
}

.divider{
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
    background-color: #333645;
    padding: 8px 0;
    // padding-left: 15px;
}

.item-non-mobile{
    background-color: rgba(0,0,0,.25);
    padding: 15px 0;
    padding-left: 20px;
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
    & > i{
        font-size: 0.35rem;
        vertical-align: middle;
        
        &:last-of-type{
            margin-right: 10px;
        }
    }
}

.mob-menu{
    & > li{
        width: 80%;
        vertical-align: middle;
    }
}

//burger queries
@media screen and (min-width:786px){
    .burger-item, .inset-block, .support-burger, .mob-menu{
        display: none;
    }
}

@media screen and (max-width:786px){
    .burger-item, .inset-block, .support-burger, .mob-menu{
        display: block;
    }
}

.mm-panel::after{
    display: none;
}