//DECLARATIONS
$text-culture: #fff;
$navy-ish: #333645;


//universal declarations
*{
    
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    ul, li, a, p {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }

    box-sizing: border-box;

}

.card{
    display: block;
    position: relative;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    border-radius: 3px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;

    & > hr{
        width: 90%;
    }
}

button{
    font-weight: 400;
    border-radius: 3px;
    color:#fff;
    text-decoration: none;
}

*:focus{
    outline:none;
}

// Settings for hammmburger
// ==================================================
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 8px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #fff !default;
$hamburger-layer-border-radius : 0px !default;
$hamburger-hover-opacity       : 1 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(100%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

$hamburger-types: (
  elastic,
) !default;

@import "base";
@import "elastic";

//header
.header{
    padding-top: 20px;
    padding-bottom: 20px;


    //first line of header including logo,burger,etc.
    & > .header-top{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        padding: 20px 0;
        flex-direction: row;

        & > .logo{
            max-width: 100%;
            img{
                vertical-align: middle;
            }
            display:block;
        }

        & > .support, .hamburger{
            margin-left: auto;
        }

        & > .support{
            padding: 0px;
            display: block;

            &:hover{
                border-bottom: solid black 3px;
            }
        }

        & > .xl-btn{
            display: block;
            padding: 15px 10px;
            font-size: 1.125rem;
            border: none;
            border-radius: 3px;
            color: white;
        }
        
        & > .xl-support{
            background-color: #4183d7;
            &:hover{
                background-color: #2a6ec6;
            }
        }
        
        & > .xl-contact{
            background-color: #999aa2;
            &:hover{
                background-color: #84858f;
            }
        }

        & > .hamburger{
            background-color: #333645;
            color: #fff;
            margin-bottom: 10px;
            border-radius: 3px;
            font-size: 1.125rem;
            transform: scale(0.7);
            display: block;

            &:hover{
                background-color: #22242e;
            }
        }
    }

    //searchbar that appears in xs displays
    & > .searchbar-mobile{
        display: flex;
        flex-wrap: nowrap;

        &:input[type=text]{
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border-top: 2px solid #ddd;
            border-left: 2px solid #ddd;
            border-bottom: 2px solid #ddd;
            border-right: none;
            background-color: rgba(0,0,0,.1);
            box-shadow: inset 0 0 8px rgb(91 192 222 / 60%);
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            color: #555;
            height: 47px;
            width: 80vw;
            position:relative;

            &:focus{
                box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            }
        }
        
        & > button{
            padding: 12px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background-color: rgba(0,0,0,.1);
            box-shadow: inset 0 0 8px rgb(91 192 222 / 60%);
            border-top: 2px solid #ddd;
            border-right: 2px solid #ddd;
            border-bottom: 2px solid #ddd;
            border-left: none;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            font-size: 17px;
            cursor: pointer;
            height: 63px;
            position: absolute;
            float: right;

            &:hover{
                background: #ccc;
            }
        }
    }

}





//Banner styles

.banner{
   height: 85vh;
   min-width: 100%;
   background-image: url("../img/home-57sJ.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   position: relative;

    & > .banner-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        & > .banner-text{
            & > h1{
                font-size: 3rem;
                letter-spacing: .4px;
            }
    
            text-align: center;
            display: block;
            padding: 10% 10%;
            justify-content: center;
            color:#fff;
            & > a{
                color:#fff;
            }

            & > .btn-banner{
                background-color: #4183d7;
                border-radius: 3px;
                border: none;
                padding: 15px 15px;
                color:#fff;

                &:hover{
                    background-color: #2a6ec6;
                }
            }
        }


    }
} 
//nav-card styles



.nav-cards{
    a{
        color: #333645;
        &:hover{
            color: #fff;
        }
    }
    button:hover{
        cursor:pointer;
    }


}


.card-nav{
    justify-content: center;
    padding: 30px 30px;
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 1.5rem 1.5rem;
    button{
        margin-top: 30px;
    }
    
}



.card-nav span{
    padding: 30px 30px;
    text-align: center;
}

.nav-icon-con{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin:0 auto 17px;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    line-height: 58px;

}

.btn-nav{
    border:none;
    color: #fff;
    border-radius: 3px;
}

.bespoke, #btn-bespoke{
    background-color: #67809f;
    
}
.IT, #btn-IT{
    background-color: #4183d7;
}

.marketing, #btn-marketing{
    background-color: #2ecc71;
   
}
.telecoms, #btn-telecoms{
    background-color: #d64541;
    
}
.security, #btn-security{
    background-color: #f62459;
}
.web-design, #btn-web{
    background-color: #926fb1;
}
.schools, #btn-school{
    background-color: #926fb1;
}

.card-bespoke:hover{
    .nav-icon-con, #btn-bespoke{
        background-color: #fff;
        color: #67809f;
    }
    .spacer-rule{
        background-color: #fff;
    }

    svg{
        fill: #67809f;
    }
    background-color: #67809f;
    color: #fff;
}

.card-IT:hover{
    .nav-icon-con, #btn-IT{
        background-color: #fff;
        color: #4183d7;
    }
    .spacer-rule{
        background-color: #fff;
    }

    svg{
        fill: #4183d7;
    }
    background-color: #4183d7;
    color: #fff;
}

.card-marketing:hover{
    .nav-icon-con, #btn-marketing{
        background-color: #fff;
        color: #2ecc71;
    }
    .spacer-rule{
        background-color: #fff;
    }

    svg{
        fill: #2ecc71;
    }
    background-color: #2ecc71;
    color: #fff;
}

.card-telecoms:hover{
    .nav-icon-con, #btn-telecoms{
        background-color: #fff;
        color: #d64541;
    }
    .spacer-rule{
        background-color: #fff;
    }
    svg{
        fill: #d64541;
    }
    background-color: #d64541;
    color: #fff;
}

.card-web:hover{
    .nav-icon-con, #btn-web{
        background-color: #fff;
        color: #926fb1;
    }
    .spacer-rule{
        background-color: #fff;
    }

    svg{
        fill: #926fb1;
    }
    background-color: #926fb1;
    color: #fff;
}

.card-security:hover{
    .nav-icon-con, #btn-security{
        background-color: #fff;
        color: #f62459;
    }
    .spacer-rule{
        background-color: #fff;
    }

    svg{
        fill: #f62459;
    }
    background-color: #f62459;
    color: #fff;
}

.card-schools:hover{
    .nav-icon-con, #btn-school{
        background-color: #fff;
        color: #926fb1;
    }
    .spacer-rule{
        background-color: #fff;
    }

    svg{
        fill: #926fb1;
    }
    background-color: #926fb1;
    color: #fff;
}

//Culture styles
.culture-back{
    background-color: #333645;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 15px;
    // display: flex;
    // flex-direction: column;
    // flex-basis: block;
}

.culture-back p{
    color: $text-culture;
} 
.culture-back a{
    color: #333645;
}
.culture-back h1{
    color: $text-culture;
}



.btn-culture{
    color: #333645;
    background-color: #fff;
    border-radius: 3px;
    height: 50px;
    display: block;
    width: auto;
    padding: 5px 15px;
    border: none;
    line-height: 35px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.btn-culture:hover{
    background-color:#ebebeb;
}

//Articles styles

.latest{
    border-bottom: #333645 5px solid;
    padding-bottom: 80px;
    display: inline-block;
    margin-bottom: -10px;
}

.news-header-section{
    padding: 0px 15px;
    margin: 0px 0px;
    box-shadow: 0px 10px 12px #ddd;
    position: relative;
}

.news-header-section .spacer-rule{
    position: absolute;
    left: 5%;
    top: 50%;
    width: 9%;
    height: 15%;
    margin-bottom: 10px;

}

.news-header-section h2{
    margin-bottom: 10px;
    padding: 10px 30px;
}

.news-cards{
    padding: 50px 0px;
    box-shadow: 0px 10px 12px #ddd;
}

.news-img-link{
    transition: transform .4s ease-in-out;
}

.news-img-link:hover{
    transform: scale(1.2);
}

.readmore-btn{
    color: #fff;
    background-color: #926fb1;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    padding: 5px 15px;
}

.readmore-btn:hover{
    background-color: #7e57a0;
    cursor: pointer;
    
}

.news-container{
    padding: 30px 30px;
}

.heading-link{
    color: #926fb1;
    text-decoration: none;
}

.card h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card p{
    color: #666;
}

.avatar, .post-info{
    display: inline-block;
    
}

.post-info{
    padding-left: 20px;
    line-height: 12px;
}

.card-foot{
    display:flex;
    flex-direction: wrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    vertical-align: middle;
    width:100%;
    
}

.card h4{
    color: #000;
}

.minilogo{
    height: auto;
    max-width: 49px;
    
}

.minilink{
    position: absolute;
    top: 10px;
    right: 0%;
    background-color: #926fb1;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    padding: 5px 10px;
}

.minilink:hover{
    text-decoration: underline;
    cursor: pointer;
}

//Newsletter styles
.sign-up-form label{
    margin-bottom: 5px;
    font-weight: 600;
    //padding-left: 10px;
}

.field{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width:90%;

}

.field:focus{
    border-color: #5bc0de;
    box-shadow: inset 0 0 8px rgb(91 192 222 / 60%);
}

.sign-up-form{
    background-color: #ddd;
    color: #333645;
    display: flex;
    flex-direction: column;
    flex-basis: block;
    padding: 0px 30px;
}

.sign-up-form h2{
    font-size: 2rem;
}

.sign-up-form button{
    color: #ddd;
    background-color: #333645;
    border-radius: 3px;
    border: none;
    height:auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 15px;
}

.sign-up-form button:hover, label:hover, .check:hover{
    cursor: pointer;
}

.sign-up-form button:hover{
    background-color: #121419;
}

.ast{
    color:red;
}

.sign-up-form a{
    color: #333645;
    text-decoration: underline;
}

.sign-up-form a:hover{
    color: #121419;
    text-decoration: underline;
}

.form{
    padding: 50px 30px;
}

//FOOTER STYLES
footer {
    background-color: #333645;

    .footer-main{
        // padding: 47px 0px;
    
        p {
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    
        .footer-content {
            display: flex;
            flex-direction: column;
    
            // targets all divs which are direct children of footer-content
            & > div {
                color: white;
                text-decoration: none;
                padding: 0px 15px;
                margin-bottom: 30px;
    
                ul li {
                    list-style-type: none;
                }
    
                h4{
                    margin-bottom: 26px;
                }
    
                a {
                    text-decoration: none;
                    color: white;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
    
            }
    
            .social-con {
    
                .button-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 40px;
                    justify-content: space-between;
    
                    a {
                        display: block;
                        text-align: center;
                        width: 40%;
                        height: 50px;
                        padding: 10px;
                        background-color: rgba(0,0,0,.25);
                    }
    
                    .facebook:hover {
                        background-color: #3b5998;
                    }
    
                    .twitter:hover {
                        background-color: #3b5998;
                    }
    
                    .linked-in:hover {
                        background-color: #3b5998;
                    }
                }
            }
        }
    }
    
    
}

.companies{
    display: flex;
    flex-basis: inline;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 15px;
}

.company{
    display: inline-block;
    max-width: 25%;
    transform:scale(0.8);
    & > img{
        vertical-align: middle;
        width: 60%;
        height: auto;
    }
}
  
.tooltiptext {
    visibility: hidden;
    width: 300px;
    height: 200px;
    background-color: #333645;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    line-height: 30px;
    margin-left: -60px;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10%;
    padding-bottom: 80%;
    margin-bottom: 70px;

    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -20px;
        border-width: 20px;
        border-style: solid;
        border-color: #333645 transparent transparent transparent;
    }

    & > .spacer-rule{
        background-color: #fff;
    }

}

.con-bus, .con-crane, .con-beat, .con-north{
    position: relative;

    img:last-of-type{
        display: none;
    }

    &:hover{
        img:first-of-type{
            display: none;
        }
        img:last-of-type{
            display:block;
        }
        & > .tooltiptext{
            visibility:visible;
        }
    }
}

.awards{
    background-color: #fff;
    padding:50px 0px;
}

.awards-1,
.awards-2 {
    display: flex;
    flex-basis: inline;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 64px;
    margin-right: 64px;

    & > .greyscale {
        img:first-of-type {
            display: block;
        }
        img:last-of-type {
            display: none;
        }

        &:hover {
            img:first-of-type {
                display: none;
            }
            img:last-of-type {
                display: block;
            }
        }
    }
}

.awards-2{
    display: flex;
    flex-basis: inline;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
}

//MISC

.spacer-rule{
    width: 10%;
    height: 3px;
    background-color: #333645;
    border: none;
}


//FONT STYLES

//browser support

@import "media-queries";

